# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Lab1/serialization_json.json
Lab1/serialization_xml.xml
Lab1/serialized_data.txt
